{% extends 'machine/layout.html' %}


{% block title %} Insert card {% endblock %}
{% block content %}
Enter card number
<form method="POST" action="{% url 'machine:index' %}">
	{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="submit">
</form>
<script type="text/javascript">
			
$(document).ready(function(){
								
	$('#id_account_num').numpad({
		//displayTpl: '<input class="form-control" type="password" />',
		hidePlusMinusButton: true,
		hideDecimalButton: true	
	});
												
});
</script>
{% endblock %}
