 {% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="{% static 'machine/jquery.numpad.js' %}"></script>
		<link rel="stylesheet" href="{% static 'machine/jquery.numpad.css' %}">
		 <title>{% block title %}ATM{% endblock %}</title>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
