{% extends 'machine/layout.html' %}


{% block title %} Menu{% endblock %}
{% block content %}


<a href="{% url 'machine:exit' %}">Exit</a><br>
<a href="{% url 'machine:withdraw' %}">Withdraw</a><br>
<a href="{% url 'machine:balance' %}">Balance</a>
{% endblock %}
