{% extends 'machine/layout.html' %}


{% block title %} Enter pin{% endblock %}
{% block content %}

<form method="POST" action="{% url 'machine:pincode' %}">
	{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="submit">
</form>
<script type="text/javascript">
			
$(document).ready(function(){
								
	$('#id_pin').numpad({
		displayTpl: '<input class="form-control" type="password" />',
		hidePlusMinusButton: true,
		hideDecimalButton: true	
	});
												
});
</script>
{% endblock %}
