{% extends 'machine/layout.html' %}


{% block title %} Card Balance{% endblock %}
{% block content %}


Current balance: {{result.balance}}<br>
<a href="{% url 'machine:exit' %}">Exit</a><br>
<a href="{% url 'machine:main' %}">Menu</a>
{% endblock %}
