{% extends 'machine/layout.html' %}


{% block title %} Money withdrawn{% endblock %}
{% block content %}
<h2>Take money!</h2>
<a href="{% url 'machine:exit' %}">Exit</a><br>
<a href="{% url 'machine:balance' %}">Balance</a>
{% endblock %}
