{% extends 'machine/layout.html' %}


{% block title %} Withdraw{% endblock %}
{% block content %}


<h2> Enter withdraw amount:</h2>
<form method="POST" action="{% url 'machine:withdraw' %}">
	{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="submit">
</form>
<script type="text/javascript">
			
$(document).ready(function(){
								
	$('#id_amount').numpad({
		//displayTpl: '<input class="form-control" type="password" />',
		hidePlusMinusButton: true,
		hideDecimalButton: true	
	});
												
});
</script>
{% endblock %}
